/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    padding: 0px 0px 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

#header hr {
    border-color: rgba(255, 255, 255, 0.3);
    margin-top: 5px;
}

.header-top {
    height: 20px;
    margin-top: 5px;
}

.header-top a {
    color: #fff;
    font-size: 12px;
}

.top-head-left ul li {
    display: inline-block;
    margin-right: 10px;
}

.top-head-right {
    text-align: right;
}

.top-head-right ul li {
    display: inline-block;
    margin-left: 10px;
}

.top-head-right ul li a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.top-head-right ul li:hover a {
    color: #FF9600;
}

#header.header-scrolled {
    background: #FF9600;
    transition: all 0.5s;
    padding: 10px 25px;
    box-shadow: 0px 2px 20px rgba(150, 87, 0, 0.65);
}

.header-scrolled .nav-menu a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

@media (max-width: 768px) {
    .header-scrolled .nav-menu a {
        font-size: 12px;
    }
}

.header-scrolled .header-top,
.header-scrolled .header-line {
    display: none;
}

#logo {
    color: white;
    font-size: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu>li {
    float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
    text-align: left;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
    margin: 0;
    margin-right: 10px;
}

/* Nav Meu Styling */
.nav-menu a {
    padding: 6px 10px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
}


.nav-menu>li {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .nav-menu a {
        padding: 3px 7px;
    }

    .nav-menu>li {
        margin-left: 4px;
    }
}

.nav-menu ul {
    margin: 14px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 12px;
    text-transform: none;
}

.nav-menu ul li:hover>a {
    color: #FF9600;
}

.nav-menu ul ul {
    margin: 0;
}
